


body {
    background-image: url(/02\ -\ card\ component/images/pattern-background-desktop.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: hsl(225, 100%, 94%);
}